.head {
  border-bottom: 1px solid #cdcccc;
  height: 100px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  font-size: 25px;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .head {
    padding: 0 10px;
  }
  .logo {
    font-size: 20px;
  }
}